@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

.slide{
    margin: 30px;
}

.capt h3{
    text-align: left;
    font-size: 32px;
    margin-bottom: 60px;
    padding-left: 10px;
   
}