/* Small Screen */


/* Medium Screen */
@media (min-width: 768px) {
    .container-service{
        padding: 100px;
    }

    .card-service{
        display: flex;
    }

    .service_right {
        text-align: center;
    }

    .service_right img{
        width: 400px;
        padding-top: 80px;
    }
}


/* Large Screen*/
@media (min-width: 992px) {
    .container-service{
        display: flex;
        padding: 12px 16px;
        margin-top: 80px;
    }
    
    
    .service_right img {
        width : 480px;
        height: 440px;
        padding: 20px;
        margin-right: 20px;
        margin-top: 20px;
        
    }
    
    .service_left {
        margin-top: 50px;
        padding: 25px;
        margin-left: 80px;
    
    }
    
    .service_left h1{
        font-size: 36px;
        line-height: 0.9;
     
    
    }
    
    .service_left p{
        font-size: 16px;
        margin-top: 25px;
        padding: 2px;
        color: grey;
        line-height: 1.1;
    
    
    }
    
    .card-service {
        display: flex;
        margin-top: 25px;
        
    }

   
}
